In [34]:
import re 
import os
import nltk
import numpy as np 
import pandas as pd


from nltk.stem import WordNetLemmatizer



from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer

# Download required NLTK data if not already done
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [35]:
df = pd.read_csv('../../data/raw/Reviews.csv',encoding='utf-8')

In [36]:
df.head(4)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...

In [37]:
df.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               26
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [38]:
# List of columns to keep
dataset = ['ProductId', 'Score', 'Summary', 'Text']

# Create a new DataFrame with only the selected columns
df = df[dataset]

In [39]:
df.head(3)

,ProductId,Score,Summary,Text
0,B001E4KFG0,5,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,B00813GRG4,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,B000LQOCH0,4,"""Delight"" says it all",This is a confection that has been around a fe...

In [40]:
df.isnull().sum()

ProductId     0
Score         0
Summary      27
Text          0
dtype: int64

In [41]:
df.describe()

               Score
count  568454.000000
mean        4.183199
std         1.310436
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

In [42]:
df.shape

(568454, 4)

In [43]:
df = df.dropna(subset=['Summary'])

In [44]:

# 0 = Negative (1,2), 1 = Neutral (3), 2 = Positive (4,5)
df['Score'] = df['Score'].apply(lambda x: 0 if x in [1, 2] else (1 if x == 3 else 2))

In [45]:
df.head(2)

,ProductId,Score,Summary,Text
0,B001E4KFG0,2,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,B00813GRG4,0,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...

In [46]:
#Renaming Score as Rating and combining Summary and Text 
df.rename(columns={'Score': 'Rating'}, inplace=True)
df['Review'] = df['Summary'].fillna('') + '. ' + df['Text'].fillna('')

In [47]:
# Sample 5000 rows from the existing DataFrame and save back to df
df = df.sample(n=5000, random_state=42).reset_index(drop=True)

In [48]:
df.shape

(5000, 5)

In [49]:


# Comprehensive English stopwords
stop_words = set(stopwords.words('english'))

lemmatizer = WordNetLemmatizer()

def get_wordnet_pos(treebank_tag):
    """Map POS tag to first character used by WordNetLemmatizer"""
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def preprocess_text(text):
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', str(text))
    # Convert to lowercase
    text = text.lower()
    # Tokenization
    tokens = nltk.word_tokenize(text)
    # POS tagging
    pos_tags = nltk.pos_tag(tokens)
    # Lemmatization with POS and stopword removal
    tokens = [
        lemmatizer.lemmatize(word, get_wordnet_pos(tag))
        for word, tag in pos_tags
        if word not in stop_words and len(word) > 2
    ]
    return ' '.join(tokens)

df['processed_text'] = df['Review'].apply(preprocess_text)

print("\nBefore and After Preprocessing:")
print(df[['Review', 'processed_text']].head())

Before and After Preprocessing:
                                              Review  \
0  I like these!. These are actually very tasty. ...
1  Good but subjectively not 5 star. I realize th...
2  Lipton Cup A Soup, Spring Vegetable.4 oz. This...
3  Suited to its purpose, if not quite its goal.....
4  Tastes artificial!. I was willing to give this...

                                      processed_text
0  like actually tasty pure potato great texture ...
1  good subjectively star realize taste matter pe...
2  lipton cup soup spring vegetable one favorite ...
3  suit purpose quite goal like classic taste goo...
4  taste artificial willing give chance even read...

In [50]:
import os

# Correct path: go up two levels to reach the project root
clean_folder_path = os.path.join('..', '..', 'data', 'clean')

# Ensure the 'clean' folder exists inside the existing 'data' folder
os.makedirs(clean_folder_path, exist_ok=True)

# Save the cleaned data to the correct location
clean_file_path = os.path.join(clean_folder_path, 'clean_data.csv')
df.to_csv(clean_file_path, index=False)

# Verify output
print("First 3 processed samples:")
print(df[['Review', 'processed_text']].head(3))
print(f"\nFile saved: {os.path.exists(clean_file_path)}")

First 3 processed samples:
                                              Review  \
0  I like these!. These are actually very tasty. ...
1  Good but subjectively not 5 star. I realize th...
2  Lipton Cup A Soup, Spring Vegetable.4 oz. This...

                                      processed_text
0  like actually tasty pure potato great texture ...
1  good subjectively star realize taste matter pe...
2  lipton cup soup spring vegetable one favorite ...

File saved: True

In [51]:
clean_data = pd.read_csv('../../data/clean/clean_data.csv',encoding='utf-8')

In [52]:
clean_data.head(2)

,ProductId,Rating,Summary,Text,Review,processed_text
0,B0088YBUOU,2,I like these!,These are actually very tasty. Pure potatoes ...,I like these!. These are actually very tasty. ...,like actually tasty pure potato great texture ...
1,B000Q75354,2,Good but subjectively not 5 star,I realize that taste is a matter of personal p...,Good but subjectively not 5 star. I realize th...,good subjectively star realize taste matter pe...